{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
<form method = "POST" class = "post-form">{% csrf_token %}
  <h2>Student ({{students|length}}):</h2>
  <ul>
    {% for student in students %}
    <li>{{student.first_name}} - <a href="/student/profile/{{student.pk}}">view profile </a></li>
    {% endfor %}
  </ul>
  <h2>Notifications:</h2>
  <ul>
  {% for notification in notifications %}
  <li>{{notification.title}} - {{notification.notification}} </li>
  {% endfor %}
</ul>
{% endblock %}
