{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}



{% block content %}
<form method = "POST" class = "post-form">{% csrf_token %}
<ul>
  <li>{{student.first_name}} - <a href="/student/profileview/{{student.pk}}">view profile </a></li>
</ul>
<h2>Notifications({{notifications|length}}):</h2>
<ul>
{% for notification in notifications %}
<li>{{notification.title}} - {{notification.notification}} </li>
{% endfor %}
</ul>
<h2>Faculty Suggestions({{suggestions|length}}):</h2>
{% for suggestion in suggestions %}
{{suggestion.notification}} - {{suggestion.faculty}}<br>
{% endfor %}
{% endblock %}
